@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply: text-black font-body min-h-screen;
    background-color: #F1FFFA;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply: font-display;
  }
}